/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2024, 11:34:10 AM
    Author     : yixia
*/

.read-more-link {
        color: red !important;
        cursor: pointer;
    }

    .full-text {
        color: black;
    }

span.short-text,span.full-text {
    font-family: 'Open Sans' !important;
    font-style: normal !important;
    color: rgb(54, 77, 89) !important;
    text-align: justify !important;
}

/*index - Get Started Section */
h1#clickTitle {
    font-size: 50px !important;
    color: black !important;
}
/*careers - application section */
a#applicationFormBtn {
    background: var(--color-primary);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 10px;
}